<div class="login-page">
    <!-- <form [formGroup]="loginForm">
        <div class="form">
            <div class="login-form">
                <div class="title"><img src="../../../assets/image/bndrLogo.png" /> </div>
                <div class="form-group has-feedback">
                    <label class="control-label">EMAIL</label>
                    <input name="user" type="text" formControlName="email" required />
                    <app-control-message [control]="loginForm.controls.email"></app-control-message>
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label">PASSWORD</label>
                    <input name="pass" type="password" formControlName="password"  required />
                    <app-control-message [control]="loginForm.controls.password"></app-control-message>
                </div>
                <div class="form-group has-feedback">
                    <input [disabled]='loginForm.invalid' [ngClass]="{'disabled': loginForm.invalid}" (click)="onSubmit()" type="submit" value="LOG IN"
                        id="btnLogin" />
                </div>
                <div class="form-group has-feedback">
                    <a>Forgot Password?</a>
                </div>
                <label class="errormessage" id="lblError">{{model.errormessage}}</label>
            </div>
        </div>
    </form> -->
</div>