<div class="modal" id="playVideoModel" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="form">
            <div class="modal-content">
                <div class="modal-body">
                    <div [style]="backgroundUrl"  class="video-bg">
                        <i class="fa fa-play" ></i>
                        <i (click)="close()" style="padding:10px;cursor: pointer;" class="icon-clear" ></i>
                        <div class="block-avatar">
                            <div class="avatar">
<!--                                 
                                    <img src="http://api.pummel.fit/{{trainer.user.imageUrl}}?width=450&height=550"> -->
                                    <img *ngIf="trainer.user.imageUrl && trainer.user.imageUrl.indexOf('render') > -1"
                                    src="{{urlPrefix}}{{trainer.user.imageUrl}}?width=450&height=550">
                                <img *ngIf="trainer.user.imageUrl && trainer.user.imageUrl.indexOf('render') == -1" src="{{trainer.user.imageUrl}}"> 
                            </div>
                            <div class="trainer-name">{{trainer.user.firstname}} {{trainer.user.lastname}} </div>
                        </div>
                          <p style="padding-left:10px;">
                                <button (click)="showSendMessageModal()" class="btn  mr-3"><i class="fa fa-inbox"></i></button>
                                <button (click)="showRequestCallBackModal()" class="btn btn-puml">REQUEST A CALL BACK</button>
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
