<div class="modal" id="playVideoModel" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="form">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="video-bg">
                        <i class="fa fa-play" ></i>
                        <i data-dismiss="modal" class="icon-clear" ></i>
                        <div class="block-avatar">
                            <div class="avatar">
                                    <img src="http://api.pummel.fit/{{trainer.user.imageUrl}}?width=450&height=550">
                            </div>
                        </div>
                          <p style=" padding-left:10px;">
                                <button data-toggle="modal" data-target="#sendMessengeModal" class="btn  mr-3"><i class="fa fa-inbox"></i></button>
                                <button data-toggle="modal" data-target="#requestCallBackModal" class="btn btn-puml">REQUEST A CALL BACK</button>
                            </p>
                    </div>
                    <!-- <div *ngIf="isPlaying" class="row ">
                        <div class="col-xs-12 col-md-12">

                            <video #videoPlayer style="width:100%;height: 100%" crossorigin id="video"></video>

                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>