<nav style="border-bottom:1px solid #ccc" class="navbar navbar-expand-md navbar-light bg-faded">

    <a class="navbar-header navbar-brand" href="https://possible.fit"><img
            src="../../../../assets/image/possible-logo-400.png"></a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a [routerLink]="['/']" style="cursor:pointer" target="_self" class="nav-link mr-3">
                <i class="icon-pin"></i> FIND A PERSONAL TRAINER</a></li>
        <li class="nav-item "><a href="https://possible.fit/register-free/" target="_black" class="nav-link mr-3">
                BECOME A TRAINER</a></li>

        <li class="nav-item ">
            <button class="nav-link btn btn-menu mr-2" (click)="isMobile=true"> <i class="icon-menu"></i> </button>
            <a href="https://possible.fit/personal-trainer/" target="_blank" class="btn btn-puml float-right"
                style="">
                DOWNLOAD NOW </a>
        </li>
    </ul>
</nav>


<nav class="nav-mobile {{isMobile == true ? 'active' : ''}}">
    <button class="nav-link btn btn-clear" (click)="isMobile=false"><i class="icon-clear"></i></button>

    <div class="menu-inner">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link mr-3">
                    <i class="icon-pin"></i> FIND A PERSONAL TRAINER</a></li>
            <li class="nav-item "><a class="nav-link mr-5"> BECOME A TRAINER</a></li>
        </ul>
    </div>
</nav>