@import url("https://fonts.googleapis.com/css?family=Comfortaa: 400");
@import url("https://fonts.googleapis.com/css?family=Raleway: 300,400,600,800");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~nouislider/distribute/nouislider.min.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "../assets/variables.scss";
@import "./fonts.scss";

body {
  margin: 0;
  padding: 0;
  color: $black;
  background: $white;
  overflow-x: hidden;
  font-size: 12px;
}
.btn-primary {
  border-color: $puml-orange !important;
  background: $puml-orange !important;
  color: $white !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: $white;
  background-color: #b27007 !important;
  border-color: #b27007 !important;
}
.btn:focus,
.btn:hover {
  outline: 0 !important;
  box-shadow: none !important;
}

.color-master {
  color: $orange;
}

.modal-open .bootbox {
  display: flex !important;
  align-items: center;
  justify-content: center;

  .modal-body {
    text-align: center;
    font-family: inherit;
    font-size: 1.3em;
    font-weight: 500;

    .bootbox-body {
      margin-top: 20px;
    }
    .bootbox-close-button.close {
      margin-top: -15px;
      color: $white;
    }
  }

  .modal-content {
    background: $white;
    .modal-footer {
      border-top: unset;
    }
  }
}

@media (min-width: 768px) {
  .bootbox .modal-dialog {
    width: 370px;
    margin: 30px auto;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #828282;
}
@media (min-width: 768px) {
  .bootbox .modal-dialog {
    width: 415px;
    margin: 30px auto;
  }
}

.featured {
  border: 1px solid #ff562d !important;
}

.btn-puml {
  background: $white !important;
  background: #ffffff !important;
  border-color: #f39c13 !important;
  color: #f39c13 !important;
  font-weight: 600 !important;
  border: 2px solid $puml-orange !important;
}
.btn {
  padding: 0.6rem 1.4rem;
  border-radius: 27px;
  font-size: 13px;
}

.bg-turquoise {
  background: #00a07c !important;
  color: $white !important;
  border: 1px solid #00a07c !important;
}

.bg-light-red {
  background: #ffbfca !important;
  color: $white !important;
  border: 1px solid #ffbfca !important;
}

.bg-light-gray {
  background: #686868 !important;
  color: $white !important;
  border: 1px solid #686868 !important;
}
.bg-medium-orange {
  background: #f4cdab !important;
  color: $white !important;
  border: 1px solid #f4cdab !important;
}
.bg-light-orange {
  background: #cf8812 !important;
  color: $white !important;
  border: 1px solid #cf8812 !important;
}
.bg-blue {
  background: #007cc0 !important;
  color: $white !important;
  border: 1px solid #007cc0 !important;
}
.bg-light-purple {
  background-color: #9011fe !important;
  color: $white !important;
  border: 1px solid #9011fe !important;
}
.bg-radical-red {
  color: $white !important;
  background-color: #e40f34 !important;
  border: 1px solid #e40f34 !important;
}
.bg-light-madison {
  color: $white !important;
  border: 1px solid #2c3e50 !important;
  background-color: #2c3e50 !important;
}

.bg-orange {
  color: $white !important;
  border: 1px solid #c25b2b !important;
  background-color: #c25b2b !important;
}

i.cl-blue {
  color: #00b9ff !important;
}
i.cl-light-orange {
  color: #f5a623 !important;
}
i.cl-medium-orange {
  color: #e67e21 !important;
}
i.cl-orange {
  color: #ff5b0f !important;
}
i.cl-light-gray {
  color: #9b9b9b !important;
}
i.cl-light-red {
  color: #f18799 !important;
}
i.cl-light-purple {
  color: #c788fe !important;
}
i.cl-light-madison {
  color: #959ea7 !important;
}
i.cl-turquoise {
  color: #50e3c2 !important;
}
i.cl-radical-red {
  color: #ff3365 !important;
}

/**************************Switch*******************/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efeeee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px $orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  border-bottom: unset;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-title {
  text-align: center;
  font-family: "Playfair Display", serif;
}
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden !important;
  @media (max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
  .btn-primary {
    background-color: $puml-orange !important;
    color: $white !important;
    border-color: $puml-orange !important;
    outline: 0 !important;
  }
}
.modal-content {
  .modal-footer {
    border-top: unset;
    justify-content: center;
    button {
      outline: 0;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 460px;
    margin: 1.75rem auto;
  }
}



.form-control{
  font-size: 0.8rem;
  background-color: #f3f2f2;
}


.modal-backdrop.show {
  opacity: .6;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #151824;
}

.btn-request-callback {
  border-radius: 3px;
  padding: 0.9rem 2rem;
  font-size: 1.2em;
  font-weight: 600;
  left: 50%;
  position: relative;
  transform: translate(-50%);
  font-family: $primary-font-family;
  background: #ff8853;
  border-color:#ff8853;
  &:hover{
    background-color: #ffae88 !important;
    border-color:#ffae88;
  }
}




// Ghost Element



app-ghost-element.isLoading:after {
   display:block;
   content:'\00a0';
  // background: #e1e1e1;
   min-width:80px;
   width:100%;
  background-image: linear-gradient(90deg, #f9f9f9 0px, #f7f7f7 40px, #f9f9f9 80px);
  animation: shine-avatar 1.6s infinite linear;

 }
 @keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}


 app-ghost-element.isLoading.lg:after {
     width:75%;
   
 }
 app-ghost-element.isLoading.tag-item:after {
  height: 30px;
}

 app-ghost-element.isLoading.profile-name:after, app-ghost-element.isLoading.location:after, app-ghost-element.isLoading.tag:after {
    margin-top: 3px;
    height: 20px;
    margin-left: 8px;
}
app-ghost-element.isLoading.lg:after {
  width:100%;
}
 app-ghost-element.isLoading.md:after {
     width:50%;
 }

 app-ghost-element.isLoading.sm:after {
     width:25%;
 }

 app-ghost-element.isLoading.xs:after {
     width:20px;
     min-width:20px;
   
 }
 
 
 /* sorta hacky with images..*/
 app-ghost-element.img.isLoading:after {
   height: 100%;
   width: 100%;
   display: block;

 }
 
.withImage{
 padding: 0;
 height: 100px;
 overflow: hidden;
}

