// FONT //
$primary-font-family: 'Raleway';
$second-font-family: 'Comfortaa';

$font-weight-medium: 300;
$font-weight-semi-bold: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 900;

// COLOR //
$black: #000000;
$light-black: #909090;
$red: #CC5757;
$blue: #28687F;
$light-blue: #80B9BF;
$ocean-blue: #6BA1BF;
$yellow: #FAD961;
$grey: #929292;
$light-grey: #D0D0D0;
$bold-grey: #979797;
$white-grey: #F2F2F2;
$white: #ffffff;
$light-green: #28687F;
$mainly-blue:#ebf5ff;
$explorer-color:#cf5758;
$puml-orange:#f39c13;
$dark-green: #248718;
$color-dialog:#b9b9b9 ;
$orange:#FF5B0F;
// COLOR //

// BORDER RADIUS //
$border-radius: 5px;
$button-border-radius: 30px;
// BORDER RADIUS //

// MEDIA //
$media-xs: 480px;
$media-sm: 960px;
$media-md: 1200px;
$media-lg: 1400px;
