<footer id="main-footer">
    <div class="container">
        <div id="footer-widgets" class="clearfix">
          <div class="footer-widget">
            <div id="custom_html-3" class="widget_text fwidget et_pb_widget widget_custom_html">
              <div class="textwidget custom-html-widget">
                <div class="sub-widget"><br>
                  <img src="../../../assets/image/pummel-white-logo-300x90.png" alt="footer-logo">
                  
                 <p>Copyright © Pummel Pty Ltd, 2016</p>
                
                <a href="#">
                    <i class="fa fa-facebook"></i></a>
                    <a href="#">
                      <i class="fa fa-twitter"></i></a>
                  <a href="#">
                    <i class="fa fa-instagram"></i></a>
                    <a href="#">
                      <i class="fa fa-envelope"></i></a>
                      <a href="#">
                        <i class="fa fa-linkedin"></i></a>
                        <a href="#">
                          <i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-widget">
            <div id="custom_html-8" class="widget_text fwidget et_pb_widget widget_custom_html">
              <div class="textwidget custom-html-widget">
                <div class="widget-2">
                 <p>Currently being handmade with ♥ for personal trainers, health and fitness experts all over the world in the wonderful BeachCity, Australia</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="just-popped-out">
        <button class="btn"><i class="fa fa-envelope"></i> Just popped out...</button>
      </div>


</footer>






